[*.{cs,vb}]

# IDE0047: Remove unnecessary parentheses
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable
